<!-- <script>
    const homeLink = document.querySelector('#home-link');
    const addLink = document.querySelector('#add-link');

    homeLink.addEventListener('click', () => {
        homeLink.style.color = '#ff69b4';
        addLink.style.color = 'black';
    })
    
    addLink.addEventListener('click', () => {
        addLink.style.color = '#ff69b4';
        homeLink.style.color = 'black';
    })

</script> -->
</body>

</html>