<!DOCTYPE html>
<html>
  <head>
    <title>UGnotes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/5738f81d64.js" crossorigin="anonymous"></script>
  </head>
  <body class="">
    <header class="text-gray-800 h-[10vh] body-font relative md:top-0 sm:bottom-0">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-pink-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-3xl">UGnotes</span>
          </a>
          <nav class="md:ml-auto flex flex-wrap  text-base gap-3 justify-center">
              <a href="/" id="home-link" class="cursor-pointer font-bold text-xl mr-5 hover:text-pink-500">Home</a>
              <a href="/add" id="add-link" class="cursor-pointer font-bold text-xl mr-5 hover:text-pink-500">Add-notes</a>
          </nav>
        </div>
      </header>